################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/HeCopUI_Framework
/HeCopUI_Framework.sln
/HeCopUI_Framework.sln
/HeCopUI_Framework.sln
